.skeleton{
	color: var(--secondary-font);
	background-color: var(--opacity-base);
	height: 96px;
	box-sizing: border-box;
	margin: 5px;
	border-radius: 5px;
	padding: 12px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 0 0 0.2px var(--secondary-font);

	.top-section{
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;

		.short-url{
			width: 100px;
			height: 20px;
			background-color: var(--secondary-font);
			border-radius: 5px;
		}

		.buttons-section{
			display: flex;
			gap: 10px;
			justify-content: flex-end;

			.circle{
				height: 12px;
				width: 12px;
				background-color: var(--secondary-font);
				border-radius: 50%;
			}
		}
	}

	.mid-section{
		margin-bottom: 5px;

		.original-url{
			width: 70%;
			height: 15px;
			background-color: var(--secondary-font);
			border-radius: 5px;
		}
	}

	.bot-section{
		display: flex;
		justify-content: flex-end;

		.date{
			width: 80px;
			height: 12px;
			background-color: var(--secondary-font);
			border-radius: 5px;
		}
	}
}

@keyframes loading {
	0% {
		background-position: 200% 0;
	}
	100% {
		background-position: -200% 0;
	}
}

.skeleton .short-url,
.skeleton .original-url,
.skeleton .date,
.skeleton .circle {
  background: linear-gradient(
    90deg,
    var(--opacity-base) 25%,
    var(--secondary-font) 50%,
    var(--opacity-base) 75%
  );
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  border-radius: 4px;
}