:root {
  --root-base: #111111;
  --component-base: #1e1e1e;
  --opacity-base: rgba(30, 30, 30, 0.7);
  --primary-font: #e9e9e9;
  --secondary-font: #8f8f8f;
  --detail-1: #c38fff;
  --detail-2: #03dac6;
  --success: #49bb64;
  --error: #e45050; 
  --delete: #f06d6a; 
  --warning: #f0dc6a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.app-container{
  position: relative;
	width: 100%;
	height: 100dvh;
	background-color: var(--root-base);
	font-family: system-ui;
  overflow: hidden;
}
                      
.particles-bg{
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.redirect{
  color: var(--secondary-font);
  font-family: monospace;
  font-size: 30px;
}

#footer{
  color: var(--detail-1);
  background-color: var(--component-base);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  bottom: 0;
  font-size: 10px;
  padding: 5px 10px 10px 10px;
  cursor: context-menu;
  z-index:3;
}

